::ng-deep {
    .mat-mdc-tab-label-container {
        padding: 0 40px !important;

        .mat-mdc-tab-list {
            flex-grow: 0 !important;
        }

        .mdc-tab {
            min-width: 85px !important;
            padding: 0 0 !important;
        }
    }
}

.box {
    max-width: 600px;
    max-height: 500px;
}