<div class="container-fluid g-0 pt-3">
    <div class="row mx-0">
        <div class="col-md-12 p-0">
            <mat-tab-group fitInkBarToContent>
                <mat-tab label="Overview">
                    <div class="container">

                        <div class="row px-2 pt-4">
                            <div class="col-md-3 mb-3">
                                <mat-card class="example-card" appearance="outlined">
                                    <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>Shiba Inu</mat-card-title>
                                            <mat-card-subtitle>Medium</mat-card-subtitle>
                                            <img mat-card-md-image
                                                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                alt="Image of a Shiba Inu">
                                        </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati
                                        adipisci
                                        aspernatur
                                        tenetur natus veniam debitis expedita corrupti sint nam, in optio id velit ea
                                        animi
                                        facilis
                                        nulla iusto quasi.
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-card class="example-card" appearance="outlined">
                                    <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>Shiba Inu</mat-card-title>
                                            <mat-card-subtitle>Medium</mat-card-subtitle>
                                            <img mat-card-md-image
                                                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                alt="Image of a Shiba Inu">
                                        </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati
                                        adipisci
                                        aspernatur
                                        tenetur natus veniam debitis expedita corrupti sint nam, in optio id velit ea
                                        animi
                                        facilis
                                        nulla iusto quasi.
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-card class="example-card" appearance="outlined">
                                    <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>Shiba Inu</mat-card-title>
                                            <mat-card-subtitle>Medium</mat-card-subtitle>
                                            <img mat-card-md-image
                                                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                alt="Image of a Shiba Inu">
                                        </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati
                                        adipisci
                                        aspernatur
                                        tenetur natus veniam debitis expedita corrupti sint nam, in optio id velit ea
                                        animi
                                        facilis
                                        nulla iusto quasi.
                                    </mat-card-content>
                                </mat-card>
                            </div>
                            <div class="col-md-3 mb-3">
                                <mat-card class="example-card" appearance="outlined">
                                    <mat-card-header>
                                        <mat-card-title-group>
                                            <mat-card-title>Shiba Inu</mat-card-title>
                                            <mat-card-subtitle>Medium</mat-card-subtitle>
                                            <img mat-card-md-image
                                                src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                                                alt="Image of a Shiba Inu">
                                        </mat-card-title-group>
                                    </mat-card-header>
                                    <mat-card-content>
                                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis obcaecati
                                        adipisci
                                        aspernatur
                                        tenetur natus veniam debitis expedita corrupti sint nam, in optio id velit ea
                                        animi
                                        facilis
                                        nulla iusto quasi.
                                    </mat-card-content>
                                </mat-card>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Issues">
                    <div class="container">
                        <div class="row px-2 pt-4">
                            <div class="col-md-6 pb-3">
                                <mat-accordion>
                                    <mat-expansion-panel (opened)="panelOpenState.set(true)"
                                        (closed)="panelOpenState.set(false)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> Self aware panel </mat-panel-title>
                                            <mat-panel-description>
                                                Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState.set(true)"
                                        (closed)="panelOpenState.set(false)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> Self aware panel </mat-panel-title>
                                            <mat-panel-description>
                                                Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                    <mat-expansion-panel (opened)="panelOpenState.set(true)"
                                        (closed)="panelOpenState.set(false)">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title> Self aware panel </mat-panel-title>
                                            <mat-panel-description>
                                                Currently I am {{panelOpenState() ? 'open' : 'closed'}}
                                            </mat-panel-description>
                                        </mat-expansion-panel-header>
                                        <p>I'm visible because I am open</p>
                                    </mat-expansion-panel>
                                </mat-accordion>

                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Crawled">
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-md-8">
                                <div class="box">
                                    <canvas #canvas></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Pages">
                    <div class="container">
                        <div class="row mt-3">
                            <div class="col-md-8">
                                <div class="box">
                                    <canvas #canvas1></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </mat-tab>
                <mat-tab label="Statistics">
                    <button mat-button (click)="increment()">Click me</button>
                </mat-tab>
                <mat-tab label="Compare">Content 6</mat-tab>
                <mat-tab label="Crawls">Content 7</mat-tab>
                <mat-tab label="Progress">Content 8</mat-tab>
                <mat-tab label="JS Impact">Content 9</mat-tab>
            </mat-tab-group>
        </div>
    </div>
</div>