<section class="homeSection">
    <div class="container">
        <div class="row py-4">
            <div class="col-md-12 d-flex justify-content-center">
                <img src="./assets/img/aimarkting-logo.svg">
            </div>
            <div class="innerContainer d-flex align-items-center gap-3 justify-content-center pt-3">
                <mat-form-field appearance="outline" class="w-50">
                    <mat-label>Enter your website name like mahesh-devop.web.app</mat-label>
                    <input matInput>
                </mat-form-field>
                <div>
                    <button mat-flat-button (click)="saveWebClicked()">Start now</button>
                </div> 
                <!-- <p>count no. {{countEle}}</p> -->
            </div>
        </div>
    </div>
</section>
<!-- <button mat-button (click)="openGame()">Play Game</button>
@if(isOpen){
<div stbgameredirects="" class="iframe-container"
    data-embedded="embedded"><iframe width="100%" height="100%" scrolling="no" allowfullscreen="true"
        src="https://login-mit.onegameslink.com/GameLauncher?gameCodeName=gpas_patbcclc1_pop&amp;casino=casinia&amp;clientType=casino&amp;clientPlatform=web&amp;language=en&amp;depositUrl=https%3A%2F%2Fcasinia.com%2F%23deposit&amp;lobbyUrl=https%3A%2F%2Fcasinia.com%2Fcallback.html%3FgameAction%3Dhome&amp;realMode=1&amp;username=CASI__1eefz1m72z38nj&amp;externalToken=3bfcf096-2000-45b9-b1cc-2b5f571b2f08"></iframe></div>
} -->